.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: row wrap;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: background-color 0.1s ease-in-out;
}

.inactive {
  background-color: blueviolet;
}

.active {
  background-color: dodgerblue;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}